.idea
# python

venv

# VSCode ##################################
.vscode/

# Eclipse ##################################
.settings/
logs/
.project
*.project
**/.project
 

# IntelliJ ##################################

*.iml
target  

 

 
 
# maven
**/target/



*.DS_Store
