.idea
# python

venv


# Eclipse ##################################
.settings/
logs/
.project
*.project
**/.project
 

# IntelliJ ##################################

.idea
*.iml
target  

 

 
 
# maven
**/target/



